.imageSlide {
    height: 300px;
    width: 300px;
}

.slide{
    display: inline-block; 
    float: left;
}

.slider {
    margin: 0;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.slides {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

.slide2{
    display: inline-block;
    float: left;
}

.slider2 {
    widows: 800px;
    margin: 0;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.slides2 {
    margin: 0;
    padding: 0;
    widows: 800px;
    float: left;
    position: relative;
}


.slide3{
    display: inline-block;
    float: left;
}

.slider3 {
    widows: 800px;
    margin: 0;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.slides3 {
    margin: 0;
    padding: 0;
    widows: 800px;
    float: left;
    position: relative;
}

